@model IEnumerable<CodingTemple.BoardGameStore.Models.StudentModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewBag.Edited)
{
    <div class="alert alert-success">
        <p>Record edited successfully</p>
    </div>
}

<table class="table table-striped">
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.ID</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.FavoriteFood</td>
            <td><a href="/student/edit/@student.ID" class="btn btn-default">Edit</a></td>
        </tr>
    }
</table>
